/* Colors :) */
/*  
--process-cyan: #30bcedff;
--cerulean: #307692ff;
--jet: #303036ff;
--taupe-gray: #98959bff; OR rgba(152, 149, 155, 0.5)
--ghost-white: #fffaffff; 
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&family=Open+Sans&display=swap');
body{
    background-color: #303036;
    color: #fffaff;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.page-title{
    text-align: center;
}
.section-header{
    font-weight: bold;

}
img{
    max-width: 100%;
    height: auto;
}
#getstartedtext,#howtotext{
    background-color: rgba(152, 149, 155, 0.5);
    border-radius: 5px;
}
.gbbox{
    display: flex;
    align-items: center;
}
#gobutton{
    border-radius: 30px;
    margin-bottom: 10px;
    margin-left: 25%;
    width: 50%;

}
