/* Colors :) */
/*  
--process-cyan: #30bcedff;
--cerulean: #307692ff;
--jet: #303036ff;
--taupe-gray: #98959bff; OR rgba(152, 149, 155, 0.5)
--ghost-white: #fffaffff; 
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&family=Open+Sans&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.section-header{
    font-weight: bold;
}
.para{
    text-indent: 50px;
}
.prof{
    margin-top: 1rem;
    margin-bottom: 0rem;
}
img{
    max-width: 100%;
    height: auto;
}
.welcomeBox{
    width:auto;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    
}
#getstartedtext,#howtotext{
    border-radius: 5px;
}
.abtme{
    margin-bottom: 0rem;
}

.disclaimer{
    font-size: 10px;
}

a.para:hover{
    text-decoration: underline;
}
.rlink{
    display:inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    background-color: #0a2c25ff;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.rlink:hover{
    background-color: #63326eff !important;
    color: #fffaff !important;
    transition: 0.1s;

}
.descr{
    
}


/* .gbbox{
    display: flex;
    align-items: center;
}
#gobutton{
    border-radius: 30px;
    margin-bottom: 10px;
    margin-left: 25%;
    width: 50%;

}
#getstarted{
    margin-top: 2rem;
}
*/